<h2 ng-show="!item.$id">Add</h2>
<h2 ng-show="item.$id">Edit</h2>
<form name="myForm">
  <!-- When using name attributes in combination with directives you can quickly do form validation without writing any special javascript -->
  <div class="control-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" 
      ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}" 
      ng-model="item.name" 
      required >
    <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="text-danger">
        Required</span>
  </div>

  <div class="control-group">
    <label>Endorsing</label>
    <select name="choice" class="form-control" ng-model="item.choice"
      ng-options="game.name for game in games">
    </select>
  </div>
 
  <label>Bio</label>
  <textarea name="description" class="form-control" ng-model="item.description"></textarea>
 
  <br>
  <a href="#/" class="btn btn-default">Cancel</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
  <button ng-click="destroy()" ng-show="item.$id" class="btn btn-danger">Delete</button>
</form>