<!doctype html>
<html ng-app="item">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular-route.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

    <link rel="stylesheet" href="bootstrap.css">
    <script src="item.js"></script>
    <title>Boardgame Time</title>
  </head>
  <body>
    <div class="container main">
      <h1 ng-controller="TimerCtrl">
      Boardgame Time: <br>{{ scheduledDate | date:'MM/dd @ h:mma'}}
        <hr/>
        Unnecessary countdown:<br> <span my-current-time="scheduledDate"></span>
      </h1>
      <div ng-view></div>
    </div>
  </body>
</html>
