<h2>Players</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Endorsing</th>
    <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items | orderBy:'name'">
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.choice}}</td>
    <td>
      <a href="#/edit/{{item.$id}}"><i class="glyphicon glyphicon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<h2>Games</h2>
<input type="text" ng-model="search" class="form-control" placeholder="Search">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Game</th>
    <th>Link</th>
    <th>Endorsements</th>
    <th><a href="#/addGame"><i class="glyphicon glyphicon-plus"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="game in games | filter:search | orderBy:'endorsementCount':true">
    <td>{{game.name}}</td>
    <td><a href="{{game.link}}" target="_blank"><i class="glyphicon glyphicon-new-window"></i></a></td>
    <td my-calc>{{game.endorsementCount}}</td>
    <td>
      <a href="#/editGame/{{game.$id}}"><i class="glyphicon glyphicon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>
